/*Responsive CSS*/
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
        left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    #sidebar .heading-sidebar:after {
    	display: none;
    }
    .header-area .login-info {
    	display: none;
    }
    .sp-dropdown {
    	display: none;
    }
}
@media (max-width: 600px) {
	.footer {
		display: block;
		text-align: center;
	}
	.footer-menu{
		display: block;
		text-align: center;
		padding: 0;
		margin-bottom: 30px;
	}
	.footer-menu li {
	    padding: 0;
	}
	.footer-menu li a {
		display: inline-block;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.footer .copyright {
	    margin-left: 0rem;
	    margin-top: 3rem;
    	margin-bottom: 1rem;
	}
}